$serif: 'times', serif;
$sans-serif: 'impact', sans-serif;
$indian-red: red;

#Conteneur {
    width: 20rem;
    height: 20rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.Top {
    background-image: url("assets/india2.jpg");
    width: 100%;
    height: 100%;
}




.Date {
    display: flex;
    right: 0;
    border: 1px solid yellow;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    
}

.Desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid yellow;
}

.Info {
    background-color: white;
    padding: 0px 35px 0px 25px;
    display: flex;
    flex-direction: column;
    height: auto;
    transition: transform .3s ease-out;
}

.Titre {
    text-transform: uppercase;
    font-family: $sans-serif;
}

.Stitre {
    color: $indian-red;
    font-family: $serif;
}

.Text {
    font-family: $serif;
    text-align: justify;
    visibility: hidden;
}

.Foot {
    display: flex;
    font-family: $serif;
}


// HOVER
#Conteneur:hover {
    .Text {
        visibility: visible;
    }

    .Info {
        transform: translate(0, -50px);
    }
}